<!DOCTYPE html>
<html>
<head>
    <title>Villain Database</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Welcome to the Villain Database</h1>
<a href="/add-villain">Add a New Villain</a>
<a href="/view-villains">View And Modify Villains</a>
<br>
<script src="/main.js"></script>
</body>
</html>
